<h1>注文確認</h1>

<%= form_with(model: @order, url: orders_path(@order), data: { turbo_metod: :POAT }) do |form| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@order.errors.count, "error") %> prohinited this article from being saved: </h2>

            <ul>
                <% @order.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <table>
    <thead>
        <tr>
            <th>書籍名</th>
            <th>数量</th>
            <th>単価</th>
            <th>小計</th>
        </tr>
    </thead>

    <tbody>
        <% @order_details.each do |detail| %>
            <tr>
                <td>
                    <%= detail[:name] %>
                </td>
                <td>
                    <%= detail[:count] %> 冊
                </td>
                <td>
                    <%= (detail[:price].to_i / detail[:count].to_i rescue 0) %><span>円</span>
                </td>

                <td>
                    <%= detail[:price] %><span>円</span>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>



    <h4>合計注文数</h4>
    <%= @order.quantity %> 冊
    <%= form.hidden_field :quantity, value: @order.quantity %>

    <h4>合計金額</h4>
    <%= @order.total %> 円
    <%= form.hidden_field :total, value: @order.total %>

    <h4>送り先</h4>
    <%= @order.delivery_address %>
    <%= form.hidden_field :delivery_address, value: @order.delivery_address %>

    <br>

    <div class="actions">
        <%= form.submit '注文確定' %>
    </div>
<% end %>

<%= link_to '戻る', new_order_path %>