<h1>書籍一覧</h1>
<%= link_to "新規登録", books_new_path %>

<% @books.each do |book| %>
    <div>
        <p>書籍名: <%= book.book_name %></p>
        <p>著者名: <%= book.author_name %></p>
        <p>発行日: <%= book.issue_date %></p>
        <p>価格: <%= book.price %></p>
        <p>商品ステータス: <%= book.status %></p>
        <%= link_to "詳細", book_path(book.id) %>
    </div>

    <hr>

<% end %>