<h1>書籍新規登録</h1>

<%= form_with model: @book do |f| %>
    <% if @book.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@book.errors.count, "error") %> prohibit this product from being saved: </h2>

            <ul>
                <% @book.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <div>
        <%= f.label :book_name, "書籍名" %>
        <%= f.text_field :book_name %>
    </div>
    <div>
        <%= f.label :author_name, "著者名" %>
        <%= f.text_field :author_name %>
    </div>
    <div>
        <%= f.label :issue_date, "発行日" %>
        <%= f.date_field :issue_date %>
    </div>
    <div>
        <%= f.label :product_display, "商品表示" %>
        <%= f.check_box :product_display %>
    </div>
    <div>
        <%= f.label :price, "価格" %>
        <%= f.number_field :price %>
    </div>
    <div>
        <label>タグ</label><br>
        <% Tag.all.each do |tag| %>
        <%= check_box_tag "book[tag_ids][]", tag.id, @book.tags.include?(tag), id: "tag_#{tag.id}" %>
        <%= label_tag "tag_#{tag.id}", tag.tag_name %><br>
        <% end %>
    <div>
        <%= f.label :status, "ステータス" %>
        <%= f.select :status, Book.statuses.keys.map { |status| [t("enums.book.status.#{status}"), status] } %>
    </div>

    
    <div>
        <%= f.submit "登録" %>
    </div>
<% end %>
