<h1>買い物かご</h1>
<table>
    <thead>
        <tr>
            <th>書籍名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
        </tr>
    </thead>

    <tbody>
        <% @line_items.each do |line_item| %>
            <% book = line_item.book %>
            <tr>
                <td>
                    <%= book.book_name %>
                </td>
                <td>
                    <%= book.price %><span>円</span>
                </td>
                <td>
                    <%= line_item.quantity %> 冊
                </td>
                <td>
                    <%= line_item.total_price %><span>円</span>
                </td>
        <% end %>
    </tbody>
</table>

<% if @line_items.count == 0 %>
    買い物かごには何も入っていません
<% else %>
    <div>
        <p>
            <b>合計注文数：</b><%= @current_cart.total_quantity %><span>冊</span>
        </p>
        <p>
            <b>合計金額：</b><%= @current_cart.total_price %><span>円</span>
        </p>
    </div>

    <%= link_to '注文する', new_order_path %> |
    <%= link_to '買い物かごを空にする', @cart, data: { "turbo-method": :delete, "turbo-confirm": '買い物かごの中身をすべて削除してもいいですか？'} %>
<% end %>