<!DOCTYPE html>
<html>
  <head>
    <title>EcSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>

      <% if user_signed_in?  %>
        <li>
          <%= link_to "書籍一覧", books_path %>
        </li>
        <li>
          <%= link_to "ユーザーページ", mypage_path(current_user) %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
        </li>
      <% elsif admin_signed_in? %>
        <li>
          <%= link_to "新規書籍", books_new_path %>
        </li>
        <li>
          <%= link_to "新規タグ", tags_new_path %>
        </li>
        <li>
          <%= link_to "書籍一覧", books_path %>
        </li>
        <li>
          <%= link_to "タグ一覧", tags_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, data: { turbo_method: :delete } %>
        </li>

      <% else %>
        <li>
          <%= link_to "サインアップ", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        <li>
      <% end %>
    </header>

    <% if flash[:notice] %>
      <div style="color: green;">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div style="color: red;">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
